<div class="container-fluid">

  <!-- start page title -->

  <app-page-title title="Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice-title">
            <h4 class="float-right font-size-16">Order # {{orderData.order_no}}</h4>
            <div class="mb-4">
              <img src="assets/images/logo-gold.jpg" alt="logo" height="120" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <address>
                <strong>Billed To:</strong><br>
                {{orderData.user.name}}<br>
                <!-- 1234 Main<br>
                Apt. 4B<br>
                Springfield, ST 54321 -->
              </address>
            </div>
            <div class="col-6 text-right">
              <address>
                <strong>Shipped To:</strong><br>
                {{orderData.customer_address.name}}<br>
                {{orderData.customer_address.address}}<br>
              </address>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mt-3">
              <address>
                <strong>Payment ID:</strong><br>
                {{orderData.user_subscription.paymentid}}<br>
              </address>
            </div>
            <div class="col-6 mt-3 text-right">
              <address>
                <strong>Order Date:</strong><br>
                {{orderData.order_date}}<br><br>
              </address>
            </div>
          </div>
          <div class="py-2 mt-3">
            <h3 class="font-size-15 font-weight-bold">Order summary</h3>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70px;">No.</th>
                  <th>Item</th>
                  <th class="text-right">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>{{orderData.user_subscription.subscription.title}}</td>
                  <td class="text-right">{{orderData.user_subscription.subscription.price | currency:"INR"}}</td>
                </tr>

                <!-- <tr>
                  <td>02</td>
                  <td>Skote - Bootstrap 4 Landing Template</td>
                  <td class="text-right">$399.00</td>
                </tr>

                <tr>
                  <td>03</td>
                  <td>Veltrix - Bootstrap 4 Admin Template</td>
                  <td class="text-right">$499.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-right">Sub Total</td>
                  <td class="text-right">$1397.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="border-0 text-right">
                    <strong>Shipping</strong></td>
                  <td class="border-0 text-right">$13.00</td>
                </tr> -->
                <tr>
                  <td colspan="2" class="border-0 text-right">
                    <strong>Total</strong></td>
                  <td class="border-0 text-right">
                    <h4 class="m-0">{{orderData.user_subscription.subscription.price | currency:"INR"}}</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-print-none">
            <div class="float-right">
              <!-- <a href="javascript:window.print()" class="btn btn-success"><i class="fa fa-print"></i></a> -->
              <a href="javascript:window.print()" class="btn btn-primary w-md ml-1">Print</a>
              <a href="http://localhost:8000/invoice-pdf/{{orderno}}" class="btn btn-success w-md ml-1">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->